Calculating centralities of different countries

trying weights

In [40]:

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
%reload_ext autoreload
%autoreload 2
import scipy.stats as st
import os
from scipy.optimize import curve_fit
import igraph as ig
import csv

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [41]:
df = pd.read_csv('/Users/YuchenZheng/Downloads/year_origin_destination_hs07_4.tsv',sep='\t')

In [42]:
df = df.fillna(0)

In [43]:
mean = df.groupby(['origin','dest','hs07','year']).mean().reset_index()

In [44]:
#filter out the xx "countries" (represent groups?)
filtered = mean[(~mean['origin'].str.contains("xx") & (~mean['dest'].str.contains("xx")))]

In [45]:
pairs2008 = np.array(filtered[filtered['year']==2008][['origin','dest','hs07','export_val']])

In [46]:
with open("/Users/YuchenZheng/Downloads/oridest2008.csv", "wb") as f:
    writer = csv.writer(f)
    writer.writerows(pairs2008)

In [47]:
reader = csv.reader(open("/Users/YuchenZheng/Downloads/oridest2008.csv"))
graph2008 = ig.Graph.TupleList(reader, directed = True, weights=True)

In [48]:
graph2008.vs['label'] = graph2008.vs['name']

In [49]:
df2008 = pd.DataFrame()
df2008['country'] = graph2008.vs['name']
df2008['degree'] = graph2008.degree()
df2008['closeness'] = graph2008.closeness()
df2008['betweenness'] = graph2008.betweenness()
df2008['pagerank'] = graph2008.pagerank()
df2008['deg. assortativity'] = graph2008.assortativity_degree()
df2008['local clustering coefficient'] = graph2008.transitivity_local_undirected(mode ='zero')
df2008['global clustering coefficient'] = graph2008.transitivity_undirected()

In [50]:
df2008.sort_values('pagerank', ascending = False).head()

,country,degree,closeness,betweenness,pagerank,deg. assortativity,local clustering coefficient,global clustering coefficient
65,usa,242674,0.973568,3798.235169,0.027853,-0.322892,-0.000006,0.703403
11,chn,250138,0.924686,2920.726084,0.027178,-0.322892,-0.000006,0.703403
16,deu,242022,0.995495,3157.723947,0.026530,-0.322892,-0.000006,0.703403
24,fra,209690,0.995495,1942.650150,0.022843,-0.322892,-0.000006,0.703403
25,gbr,205774,0.991031,1769.524929,0.022493,-0.322892,-0.000006,0.703403

In [51]:
pd.DataFrame({'name': [],
                        'betweenness': [],
                        'closeness': [],
                        'pagerank': [],
                        'degree': []
                       })
df1

                abw,are,2710,0.0
0               abw,are,8517,0.0
1                abw,arg,201,0.0
2                abw,arg,202,0.0
3                abw,arg,204,0.0
4                abw,arg,206,0.0
5                abw,arg,207,0.0
6                abw,arg,307,0.0
7                abw,arg,401,0.0
8               abw,arg,1601,0.0
9               abw,arg,1602,0.0
10              abw,arg,1901,0.0
11              abw,arg,2202,0.0
12              abw,arg,2204,0.0
13       abw,arg,2713,2374234.69
14              abw,arg,3402,0.0
15              abw,arg,3808,0.0
16              abw,arg,3824,0.0
17              abw,arg,3926,0.0
18              abw,arg,4802,0.0
19              abw,arg,4819,0.0
20              abw,arg,5806,0.0
21              abw,arg,6104,0.0
22              abw,arg,6109,0.0
23              abw,arg,6905,0.0
24              abw,arg,6908,0.0
25              abw,arg,7314,0.0
26              abw,arg,7610,0.0
27              abw,arg,8302,0.0
28              abw,arg,8418,0.0
29              abw,arg,8462,0.0
...                          ...
4349581   zwe,zmb,8703,763443.47
4349582   zwe,zmb,8704,338266.61
4349583     zwe,zmb,8707,42054.0
4349584    zwe,zmb,8708,86859.07
4349585     zwe,zmb,8711,4101.97
4349586   zwe,zmb,8713,1506024.0
4349587      zwe,zmb,8714,1943.0
4349588   zwe,zmb,8716,784370.35
4349589      zwe,zmb,8803,1000.0
4349590   zwe,zmb,8901,258353.29
4349591     zwe,zmb,8902,5735.85
4349592    zwe,zmb,8903,33351.92
4349593     zwe,zmb,9018,7598.89
4349594      zwe,zmb,9024,3852.0
4349595         zwe,zmb,9029,0.0
4349596         zwe,zmb,9032,0.0
4349597    zwe,zmb,9105,10290.01
4349598      zwe,zmb,9201,3705.0
4349599      zwe,zmb,9207,5365.0
4349600      zwe,zmb,9303,8327.0
4349601   zwe,zmb,9401,665474.82
4349602    zwe,zmb,9402,36756.31
4349603  zwe,zmb,9403,1869994.31
4349604    zwe,zmb,9405,24971.77
4349605         zwe,zmb,9506,0.0
4349606    zwe,zmb,9603,16924.76
4349607      zwe,zmb,9604,7736.0
4349608    zwe,zmb,9608,203118.0
4349609     zwe,zmb,9701,37913.0
4349610     zwe,zmb,9703,12526.5

[4349611 rows x 1 columns]

In [53]:
classes = ["class 1"] * 5 + ["class 2"] * 5
vals = [1,3,5,1,3] + [2,6,7,5,2]
p_df = pd.DataFrame({"class": classes, "vals": vals})
p_df

     class  vals
0  class 1     1
1  class 1     3
2  class 1     5
3  class 1     1
4  class 1     3
5  class 2     2
6  class 2     6
7  class 2     7
8  class 2     5
9  class 2     2